project-name ~ zebera
output-path ~ ./ISS/CSV/
server-name ~ https://www.thebluealliance.com/api/v3
server-options ~ X-TBA-Auth-Key=SBcyOBkFgzIQ8jVIlum24FnnI4KPq4VSA5MYtdCVMgDrZYaMfYduTjMGKO5A9AVz 
server-section ~ match 
server-frame-option ~ /zebra_motionworks
server-nomber-of-frames ~ 80
set ~ 2022pncmp_qm:
